a:link {color:#0099ee;text-decoration:none;}
a:visited {color:#007cc1;text-decoration:none;}
a:hover {text-decoration:underline;}

.photo {
width:50px;
height: 50px;
margin:5px 10px 5px 5px!important;
}

.photo-container {
border-radius: 3px;
overflow: hidden;
display: inline-block; 
width: 150px;
height: 150px;
margin: 10px auto;
float:left;
border: solid 4px white;
margin: 3px auto!important;
vertical-align:middle;
}

.name {
color:#4E423B;
margin-top:20px!important;
}

.about-container {
 background-color: #f1f1f1;
width:100%;
padding: 30px 10px;
text-align: left;
}

.about-name {
margin-bottom: 0px!important;
font-weight: initial;
color: #4E423B;
}

.department {
margin-top: 0px!important;
color: #009CE0;
font-weight:bold;
}

.info-container {
text-align: left;
border: 2px solid #bacafe;
}

.basic-info-container{
display: inline-block; 
float: center;
vertical-align:middle;
padding: 2%;
border: 2px solid #f8f8f8;
}

#sidebar {
display:flex;
}