/* style */

/* nav style */
.navbar-light{
  background-color:	#9bbc0f;
}

.navbar-brand{
  color: #000;
  font-family: 'Press Start 2P', monospace, sans-serif;
  font-size: 36px;
}
/* search button */
.btn-success{
  font-family: 'Press Start 2P', monospace, sans-serif;
  font-size: 24px;
  color: #000;
  border-color: #000;
  border-width: medium;
  transition: none;
  transition-duration: 0.2s;
  transition-property: opacity;
  background-color: #afc93e;
}


/* form styling */
.btn-success:hover{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:focus{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:active{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:focus-within{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:focus-visible{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:target{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}
.btn-success:visited{
  cursor: pointer;
  opacity: 0.8;
  background-color: #bbbbbb;
  color: #000;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  transition: none
}

.form-control me-2{
  background-color: #bbbbbb;
}

input::placeholder{
  font-family: 'Share Tech Mono', monospace, sans-serif;
}


/* body styling */
h4{
  font-family: 'Press Start 2P', monospace, sans-serif;
  color: #000;
  margin: 15px;
}

body{
  box-sizing: border-box;
  background-color: #bbbbbb;
  font-family: 'Share Tech Mono', monospace, sans-serif;
  margin: auto;
  font-size: 24px;
  line-height: 1.3;
}

/* item buttons styling */
.list-group{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  grid-gap: 20px;
}

.btn-warning {
  background-color: #afc93e;
  border: none;
  color: #000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  font-size: 22px;
  font-weight: bolder;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  transition-property: color;
  cursor: pointer;
  border: 2px solid #0f380f;
}
.btn-warning:hover {
  cursor: pointer;
  background-color: #9bbc0f;
  border-color: inherit;
}
.btn-warning:focus {
  cursor: pointer;
  background-color: #9bbc0f;
  border-color: inherit;
}

.modal-content {
  background-color:	#fbd743 ;
  border-radius: 20px;
  display: grid;
  text-align: center;
  width: auto;
  height: auto;
}

.modal-header {
  background-color: #363b81;
  margin: 15px;
  display: block;
}

h3{
  color: #fbd743;
}

.modal-body {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 15px;
  display: block;
  text-align: center;
}

.pokemon-img {
  width: 45%;
  height: auto;
  padding: 0;
}

.modal p{
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.0;
}
.close{
  color: #fbd743;
}

/* keyframes btn */
@media all and (max-width: 500px) {
  .list-group {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .list-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .list-group {
    grid-gap: 10px;
  }
}
